* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Play', sans-serif;
    text-align: center;
    background-color: #afcfcb;
    --bord-col: #595959;
    --bord-wth: 16px;
}

h1 {
    font-size: 60px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 450px;
    height: 450px;
    position: relative;
    margin: 6% auto;
    background-color: var(--bord-col);
    border-radius: 100%;
    box-shadow: 4px 0px 14px 8px #4d4d4d;
}

section {
    grid-column: span 1;
    grid-row: span 1;
    border: 22px solid var(--bord-col);
}

#controls {
    position: absolute;
    width: 240px;
    height: 240px;
    top: 50%;
    left: 50%;
    margin: -120px 0 0 -120px;    /*to perfectly center element (half of w/h)*/
    border: var(--bord-wth) solid var(--bord-col);
    border-radius: 100%;
    background-color: #cccccc;
    padding: 8px;
    box-shadow: inset 0px 0px 6px #4d4d4d;
}

h2 {
    font-size: 40px;
    margin: 10px;
}

#countDisplay {
    margin: auto;
    width: 50px;
    height: 30px;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 6px 3px #4d4d4d;
    padding: 3px;
}

#button1 {
    border-top-left-radius: 100%;
    border-right-width: calc(var(--bord-wth) * 0.5);
    border-bottom-width: calc(var(--bord-wth) * 0.5);
    background-color: #008000;
}

#button2 {
    border-top-right-radius: 100%;
    border-left-width: calc(var(--bord-wth) * 0.5);
    border-bottom-width: calc(var(--bord-wth) * 0.5);
    background-color: #b30000;
}

#button3 {
    border-bottom-left-radius: 100%;
    border-top-width: calc(var(--bord-wth) * 0.5);
    border-right-width: calc(var(--bord-wth) * 0.5);
    background-color: #cccc00;
}

#button4 {
    border-bottom-right-radius: 100%;
    border-top-width: calc(var(--bord-wth) * 0.5);
    border-left-width: calc(var(--bord-wth) * 0.5);
    background-color: #0000cc;
}

button {
    margin: 6px auto;
    border: 1px solid #4d4d4d;
    box-shadow: 0px 0px 3px 1px #000;
    width: 50px;
    height: 20px;
    font-size: 12px;
    color: #f2f2f2;
}

#power {
    display: block;
    width: 60px;
    height: 26px;
    border-radius: 10%;
    border: 1px solid #000;
    font-size: 16px;
    background-color: #4d0000;
}

.pwr-on {
    background-color: #cc0000 !important;
}
#start {
    margin-right: 8px;
    background-color: #0099cc;
}

#strict {
    margin-left: 8px;
    background-color: #805300;
}

.strictActive {
    background-color: #ffb833 !important;
    color: #1a1a1a;
}

#winnerMessage {
    display: none;
    position: absolute;
    width: 500px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -250px;
    padding: 8%;
    border: 6px solid #4d4d4d;
    background-color: #1a1a1a;
    color: #ffaf1a;
    font-size: 60px;
}

a:link, a:visited {
    color: Blue;
    text-decoration: none;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 40px;
    padding: 10px;
    font-size: 18px;
    font-style: italic;
}


