* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Play', sans-serif;
    text-align: center;
    background-color: #afcfcb;
    --bord-col: #595959;
    --bord-wth: 16px;
}

h1 {
    text-align: center;
    font-size: 60px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 450px;
    height: 450px;
    position: relative;
    margin: 6% auto;
    border-radius: 100%;
}

section {
    grid-column: span 1;
    grid-row: span 1;
    border: 22px solid var(--bord-col);
}

#controls {
    position: absolute;
    width: 230px;
    height: 230px;
    top: 50%;
    left: 50%;
    margin: -115px 0 0 -115px;    /*to perfectly center element (half of w/h)*/
    border: var(--bord-wth) solid var(--bord-col);
    border-radius: 100%;
    background-color: #cccccc;
    padding: 8px;
}

h2 {
    font-size: 40px;
    margin: 20px;
}

#countDisplay {
    margin: auto;
    width: 40px;
    height: 25px;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
}

#button1 {
    border-top-left-radius: 100%;
    border-right-width: calc(var(--bord-wth) * 0.5);
    border-bottom-width: calc(var(--bord-wth) * 0.5);
    background-color: #008000;
}

#button2 {
    border-top-right-radius: 100%;
    border-left-width: calc(var(--bord-wth) * 0.5);
    border-bottom-width: calc(var(--bord-wth) * 0.5);
    background-color: #b30000;
}

#button3 {
    border-bottom-left-radius: 100%;
    border-top-width: calc(var(--bord-wth) * 0.5);
    border-right-width: calc(var(--bord-wth) * 0.5);
    background-color: #cccc00;
}

#button4 {
    border-bottom-right-radius: 100%;
    border-top-width: calc(var(--bord-wth) * 0.5);
    border-left-width: calc(var(--bord-wth) * 0.5);
    background-color: #0000cc;
}

.strictActive {
    background-color: #ffb833;
}

#winnerMessage {
    display: none;
    position: absolute;
    width: 500px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -250px;
    padding: 8%;
    border-radius: 16px;
    background-color: black;
    color: orange;
    font-size: 60px;
}

a:link, a:visited {
    color: Blue;
    text-decoration: none;
}

footer {
    /*position: absolute;*/
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 40px;
    padding: 10px;
    font-size: 18px;
    font-style: italic;
}


